@page
@model ResetPasswordModel
@{
    ViewData["Title"] = "Reset password";
}

<html>
<head>
    <title>Montage</title>
    <link rel="stylesheet" href="assets/css/main.css" />
</head>
<body>

    <!-- Header -->
    <header id="header">
        <h1>@Html.ActionLink("Montage", "Index")</h1>
        <a href="#menu">Menu</a>
    </header>

    <!-- Nav -->
    <nav id="menu">
        <ul class="links">
            <li>@Html.ActionLink("Home", "Index")</li>

            <li>@Html.ActionLink("About", "About")</li>
            <li>@Html.ActionLink("Tutorial", "Tutorial")</li>
            <li><a href="https://app.swaggerhub.com/apis/Montage1/ServerAPI/1.0.0" target="_blank">API</a></li>
            <li class="selected"><a href="/Identity/Account/Login">Account</a></li>
            <li>@Html.ActionLink("Contact", "Contact")</li>
        </ul>
    </nav>

    <section class="wrapper ">
        <div class="inner">

            <div class="row">
                <section>
                    <div class="image fit-2">
                        <img src="~/images/pill.png" alt="montage-logo.png" />

                    </div>

                </section>
            </div>
        </div>

    </section>


    <div style="width:800px; margin:0 auto; font-size:18px;">
        <h4></br>Reset your password.</h4>
        <div class="col-md-4">
            <form method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input asp-for="Input.Code" type="hidden" />
                <div class="form-group">
                    <label asp-for="Input.Email"></label>
                    <input asp-for="Input.Email" class="form-control" />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.Password"></label>
                    <input asp-for="Input.Password" class="form-control" />
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.ConfirmPassword"></label>
                    <input asp-for="Input.ConfirmPassword" class="form-control" />
                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                </div>
                <button type="submit" class="btn btn-primary">Reset</button>
            </form>
        </div>
    </div>

    @section Scripts {
        <partial name="_ValidationScriptsPartial" />
    }
    <script src="../../../assets/js/jquery.min.js"></script>
    <script src="../../../assets/js/jquery.scrolly.min.js"></script>
    <script src="../../../assets/js/skel.min.js"></script>
    <script src="../../../assets/js/util.js"></script>
    <script src="../../../assets/js/main.js"></script>
    <script src="../../../lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="../../../js/site.js?v=4q1jwFhaPaZgr8WAUSrux6hAuh0XDg9kPS3xIVq36I0"></script>

</body>
</html>
