@model IEnumerable<MontageServer.Models.AdobeClip>

<!DOCTYPE HTML>

<html>
<head>
    <title>Montage</title>
    <link rel="stylesheet" href="assets/css/main.css" />
    
</head>
<body>

    <!-- Header -->
    <header id="header">
        <h1>@Html.ActionLink("Montage", "Index")</h1>
        <a href="#menu">Menu</a>

        <div class="col-md-6 col-md-offset-2" style="font-size:18px">
            <section>
                <form method="post" asp-action="logout" asp-controller="account">
                    <input type="submit" value="Logout" />
                </form>
            </section>
        </div>
    </header>

    <!-- Nav -->
    <nav id="menu">
        <ul class="links">
            <li>@Html.ActionLink("Home", "Index")</li>

            <li>@Html.ActionLink("About", "About")</li>
            <li>@Html.ActionLink("Tutorial", "Tutorial")</li>
            <li><a href="https://app.swaggerhub.com/apis/Montage1/ServerAPI/1.0.0" target="_blank">API</a></li>
            <li class="selected"><a href="/Identity/Account/Login">Account</a></li>
            <li>@Html.ActionLink("Contact", "Contact")</li>
        </ul>
    </nav>





    <h1>@ViewData["Title"]</h1>

    <section class="wrapper ">
        <div class="inner">

            <div class="row">
                <section>
                    <div class="image fit-2">
                        <img src="~/images/pill.png" alt="montage-logo.png" />

                    </div>

                </section>
            </div>
        </div>
    </section>


    <div class="row" style="width:1000px; margin:0 auto;">


        <div class="col-md-4" style="font-size:18px">
            <section class="contact-page">
                <table>
                    <thead>
                        <tr>
                            <th>
                                ID
                            </th>
                            <th>
                                Footage Path
                            </th>
                            <th>
                                Analysis Result String
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ClipId)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.FootagePath)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.AnalysisResultString)
                                </td>
                                <!--
                                <td>
                                    <a asp-action="Edit" asp-route-id="@item.ClipId">Edit Analysis Result</a> 
                        
                                </td>
                                <td>
                                    <a asp-action="Details" asp-route-id="@item.ClipId">Analysis Result Details</a>
                                    
                                    
                                </td>
                                -->
                            <td>

                                 @Html.ActionLink("Delete Clip", "Delete", new { clipID = item.ClipId })

                            </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </section>
        </div>

    </div>


    @section Scripts {
        <partial name="_ValidationScriptsPartial" />
    }



    <script src="../../../assets/js/jquery.min.js"></script>
    <script src="../../../assets/js/jquery.scrolly.min.js"></script>
    <script src="../../../assets/js/skel.min.js"></script>
    <script src="../../../assets/js/util.js"></script>
    <script src="../../../assets/js/main.js"></script>
    <script src="../../../lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="../../../js/site.js?v=4q1jwFhaPaZgr8WAUSrux6hAuh0XDg9kPS3xIVq36I0"></script>
</body>
</html>