<!DOCTYPE HTML>

<html>
<head>
    <title>Montage</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="assets/css/main.css" />

</head>
<body class="subpage">

    <header id="header">
        <h1>@Html.ActionLink("Montage", "Index")</h1>
        <a href="#menu">Menu</a>
    </header>

    <!-- Nav -->
    <nav id="menu">
        <ul class="links">
            <li>@Html.ActionLink("Home", "Index")</li>
            <li>@Html.ActionLink("About", "About")</li>
            <li>@Html.ActionLink("Tutorial", "Tutorial")</li>
            <li><a href="https://app.swaggerhub.com/apis/Montage1/ServerAPI/1.0.0" target="_blank">API</a></li>
            <li><a href="https://github.com/andrewfryzel/MontageExtension" target="_blank">Download</a></li>

            @if (signInManager.IsSignedIn(User))
            {
                <li>@Html.ActionLink("My Account", "Account")</li>
            }
            else
            {
                <li><a href="/Identity/Account/Login">Login</a></li>
            }
            <li class="selected">@Html.ActionLink("Contact", "Contact")</li>
        </ul>
    </nav>

    <!-- Main -->
    <div id="main">



        <!-- Three -->
        <section class="wrapper ">
            <div class="inner">

                <div class="row">
                    <section>
                        <div class="image fit-2">
                            <img src="~/images/pill.png" alt="montage-logo.png" />

                        </div>

                    </section>
                </div>
                <br />
                <header class="align-center">
                    <h2>Don't be shy! Questions? Comments? Jokes? Let us know what you think!</h2>

                    <ul class="icons">
                        <li><a href="mailto:montageextension@gmail.com" class="icon fa-envelope"><span class="label">montageextension@gmail.com</span></a></li>
                        <li><a href="mailto:montageextension@gmail.com">montageextension@gmail.com</a> </li>
                    </ul>

                    <!--

                                        <form action="mailto:montageextension@gmail.com”
                                              method="POST""
                                              enctype="multipart/form-data"
                                              name="EmailForm">

                                            Name:<br>

                                            <input type="text" size="19" name="ContactName"><br><br>

                                            Message:<br> <textarea name="ContactCommentt" rows="6" cols="20">

                    </textarea><br><br> <input type="submit" value="Submit">
                                        </form>


                                    </header>

                    -->
                    <!-- 3 Column Video Section -->
                    <div class="flex flex-2">
                        <div class="video col">
                            <div class="image fit">

                                <a href="https://www.linkedin.com/in/nickolas-howell-366202139/" target="_blank"><img src="~/images/nick.jpeg" target="_blank"></a>

                            </div>
                            <p class="caption">
                                Nick
                            </p>
                            <p class="student-bio" > I'm currently studying at the University of Utah working towards receiving my Bachelor's in Computer Science. When I’m not programming, you can find me at my desk creating motion graphics. I've spent the last four years of my life programming Motion Graphic Templates for sale on Adobe Stock using Adobe After Effects and Javascript. My main goal has been to provide a product with a great and intuitive user interface as well as a strong functionality. I'm always looking for interesting ways to combine data and UI in order to convey the most information to the user as possible. My passion is displaying information in an easily digestible and efficient manner primarily using HTML/CSS and Javascript. I've taken interest in using d3 to generate UI elements as needed according to ordered datasets to make interfaces that are not only digestible but also flexible and scalable. I'm currently planning to work for Motorola after graduation as a Software Engineer, and I am hoping to move closer towards their UI/UX research team later in my career.</p>

                            <ul class="icons" style="margin-top: 120px;">
                                <li><a href="https://github.com/NCKLS" target="_blank" class="icon fa-github-alt"></a></li>
                                <li></li>
                                <li></li>
                                <li><a href="https://www.linkedin.com/in/nickolas-howell-366202139/" target="_blank" class="icon fa-linkedin"></a></li>
                            </ul>
                        </div>
                        <div class="video col">
                            <div class="image fit">
                                <a href="https://www.linkedin.com/in/christopher-de-freitas-55253a177/" target="_blank"><img src="~/images/chris.jpg" target="_blank"></a>


                            </div>
                            <p class="caption">
                                Chris
                            </p>
                            <p class="student-bio"> I’m a senior in the University of Utah’s School of Computing pursuing a Computer Science degree. My studies are primarily focused on data analysis, machine learning, and NLP, though I’ve also worked extensively with networking and automation. I’ve worked as a research assistant for Dr. Kogan for two years now, and have found myself drawn to research more generally. My current project on political discourse during the 2014 Ukrainian revolution has had me analyzing over 90 million tweets, and required the development of sophisticated analysis pipelines for various NLP tasks, including topic modeling, sentiment analysis, and word embedding. Those findings will be published in the U’s Undergraduate Research Journal in June 2021. This coming Fall I’ll begin my Master’s degree at the U, which I’ll use to further my knowledge of NLP, social computing, crisis informatics, and disinformation studies. Since my first analysis course, research areas such as algorithmic fairness, explainability, and data science ethics have been extremely interesting to me. To that end, I’m extremely dedicated to furthering both my technical aptitude and intelligibility in data analysis and machine learning.</p>
                            <ul class="icons">
                                <li><a href="https://github.com/christopherdef" target="_blank" class="icon fa-github-alt"></a></li>
                                <li></li>
                                <li></li>
                                <li><a href="https://www.linkedin.com/in/christopher-de-freitas-55253a177/" target="_blank" class="icon fa-linkedin"></a></li>
                            </ul>
                        </div>

                    </div>
                    <div class="flex flex-2">
                        <div class="video col">
                            <div class="image fit">
                                <a href="https://www.linkedin.com/in/andrewfryzel/" target="_blank"><img src="~/images/andrew.jpg" target="_blank"></a>

                            </div>
                            <p class="caption">
                                Andrew
                            </p>
                            <p class="student-bio" >
                                I'm currently a student at the University of Utah pursuing a Bachelor's Degree in Computer Science. I am seeking opportunities to work in the industry in order to gain valuable industry experience and to learn new skills.

                                As an intern at Amazon, I designed, implemented, and tested projects that had companywide impact. I used AWS cloud tools to build services with a variety of languages including SQL, Java, Kotlin, JavaScript, and Python. At Proofpoint, I create and test services, as part of a data loss prevention team, that monitor and secure sensitive user data.

                                As a student, I have competed in various coding challenges, hack-a-thons, and robotics competitions using a variety of coding languages and tools. In my spare time I have worked on projects ranging from phone apps to games to software programs. I enjoy working hard and the feeling that solving a difficult problem brings. I'm passionate about Computer Science and look forward to meeting new people, learning new things and creating dynamic projects that can make a real difference.
                            </p>

                            <ul class="icons" style="margin-top: 120px;">
                                <li><a href="https://github.com/andrewfryzel" target="_blank" class="icon fa-github-alt"></a></li>
                                <li></li>
                                <li></li>
                                <li><a href="https://www.linkedin.com/in/andrewfryzel/" target="_blank" class="icon fa-linkedin"></a></li>
                            </ul>

                        </div>
                        <div class="video col">
                            <div class="image fit">
                                <!--<img src="~/images/gavin.png" alt="" /> -->
                                <a href="https://www.linkedin.com/in/gavin-monson/" target="_blank"><img src="~/images/gavin.png" target="_blank"></a>

                            </div>
                            <p class="caption">
                                Gavin
                            </p>

                            <p class="student-bio"> I am currently pursuing a degree in Computer Science, and a degree in Film and Media Arts. I will be graduating this semester with plans of working at Goldman Sachs full time after graduation. My main interests lie with optimizing solutions to handle large amounts of data, working on the backend, and creating awesome internal tools that make everyone’s lives easier. Over my college career, I have learned everything from proper software development practices, to low level machine code. Overall, my goal throughout college was to become a well-rounded developer that can solve challenging problems. Throughout my working career I have worked everywhere from an IT helpdesk technician, to a full-time backend engineer at Porch Software, and Goldman Sachs. I currently work at a small startup company called Porch Software, working on the backend to automate life insurance applications. At Goldman Sachs I will also be working on the backend in the CIMD department, in the tax division, handling large amounts of client tax information safely and securely so that we can use to automate tax document generation.</p>
                            <ul class="icons">
                                <li><a href="https://github.com/gnosnow" class="icon fa-github-alt"></a></li>
                                <li></li>
                                <li></li>
                                <li><a href="https://www.linkedin.com/in/gavin-monson/" target="_blank" class="icon fa-linkedin"></a></li>
                            </ul>

                        </div>
                    </div>
            </div>
        </section>

    </div>


    <!-- Scripts -->

    <script src="../assets/js/jquery.min.js"></script>
    <script src="../assets/js/jquery.scrolly.min.js"></script>
    <script src="../assets/js/skel.min.js"></script>
    <script src="../assets/js/util.js"></script>
    <script src="../assets/js/main.js"></script>
    <script src="../lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="../js/site.js?v=4q1jwFhaPaZgr8WAUSrux6hAuh0XDg9kPS3xIVq36I0"></script>

</body>
</html>